.index_main_content{
  padding-right:20px;
}
.panel-heading{
  .panel-title{
    span{
      text-align: right;
      font-size: 14px;
      padding-left:20px;
    }
  }
}
.panel_status{
  padding-right:15px;

}
.pagination{
  >ul{
    margin-bottom:0 !important;
  }
}

