
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1462781659'); /* IE9*/
  src: url('iconfont.eot?t=1462781659#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1462781659') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1462781659') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1462781659#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weichuli:before { content: "\e604"; }
.icon-wancheng:before { content: "\e605"; }
.icon-shoulizhong:before { content: "\e606"; }
.icon-zhuangxiu:before { content: "\e603"; }
.icon-wangluo1:before { content: "\e601"; }
.icon-xingxing:before { content: "\e600"; }
.icon-shuidian:before { content: "\e602"; }
